<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPermissionMstLabel" jhiTranslate="slackbotsApp.permissionMst.home.createOrEditLabel">Create or edit a Permission Mst</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!permissionMst.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="permissionMst.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.prmName" for="field_prmName">Prm Name</label>
            <input type="text" class="form-control" name="prmName" id="field_prmName"
                [(ngModel)]="permissionMst.prmName" required maxlength="300"/>
            <div [hidden]="!(editForm.controls.prmName?.dirty && editForm.controls.prmName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prmName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prmName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                   This field cannot be longer than 300 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.prmDesc" for="field_prmDesc">Prm Desc</label>
            <input type="text" class="form-control" name="prmDesc" id="field_prmDesc"
                [(ngModel)]="permissionMst.prmDesc" maxlength="500"/>
            <div [hidden]="!(editForm.controls.prmDesc?.dirty && editForm.controls.prmDesc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prmDesc?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.createdOn" for="field_createdOn">Created On</label>
            <div class="input-group">
                <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" [(ngModel)]="permissionMst.createdOn"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="permissionMst.createdBy" maxlength="100"/>
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.updatedOn" for="field_updatedOn">Updated On</label>
            <div class="input-group">
                <input id="field_updatedOn" type="text" class="form-control" name="updatedOn" ngbDatepicker  #updatedOnDp="ngbDatepicker" [(ngModel)]="permissionMst.updatedOn"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="updatedOnDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="slackbotsApp.permissionMst.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="permissionMst.updatedBy" maxlength="100"/>
            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
