
<div *ngIf="policies">
    <h2><span jhiTranslate="slackbotsApp.policies.detail.title">Policies</span> {{policies.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="slackbotsApp.policies.policyName">Policy Name</span></dt>
        <dd>
            <span>{{policies.policyName}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.policies.policyDescription">Policy Description</span></dt>
        <dd>
            <span>{{policies.policyDescription}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'policies/'+ policies.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
