
<div *ngIf="employee">
    <h2><span jhiTranslate="slackbotsApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="slackbotsApp.employee.staffName">Staff Name</span></dt>
        <dd>
            <span>{{employee.staffName}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.dateOfBirth">Date Of Birth</span></dt>
        <dd>
            <span>{{employee.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.gender">Gender</span></dt>
        <dd>
            <span>{{employee.gender}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.emailId">Email Id</span></dt>
        <dd>
            <span>{{employee.emailId}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.qualification">Qualification</span></dt>
        <dd>
            <span>{{employee.qualification}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.designation">Designation</span></dt>
        <dd>
            <span>{{employee.designation}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.experience">Experience</span></dt>
        <dd>
            <span>{{employee.experience}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.phoneNo">Phone No</span></dt>
        <dd>
            <span>{{employee.phoneNo}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.userName">User Name</span></dt>
        <dd>
            <span>{{employee.userName}}</span>
        </dd>
        <dt><span jhiTranslate="slackbotsApp.employee.password">Password</span></dt>
        <dd>
            <span>{{employee.password}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
